<a href="https://colab.research.google.com/github/JazmineOrtiz/Simulaci-n-I/blob/main/MetododeCongruencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from tabulate import tabulate
m = float(input("dame el valor de m: "))
xo = float(input("dame el valor de la semilla (xo): "))
a = float(input("dame el valor de a: "))
c = float(input("dame el valor de c: "))
x=0
for x in range(3):
  #print("primera columna: ", xo)
  xnn=(a*xo)+c
  #print("segunda columna: ", xnn)
  mod=xnn%m
  #print("tercera columna: ", mod)
  division=xo/m
  #print("cuarta columna: ", division)
  tabla=[[x,xo,xnn,mod,division]]
  print(tabulate(tabla))
  xo=mod

dame el valor de m: 16
dame el valor de la semilla (xo): 6
dame el valor de a: 5
dame el valor de c: 5
-  -  --  -  -----
0  6  35  3  0.375
-  -  --  -  -----
-  -  --  -  ------
1  3  20  4  0.1875
-  -  --  -  ------
-  -  --  -  ----
2  4  25  9  0.25
-  -  --  -  ----